@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

:root {
  /* Colors */
  --main-color: rgba(97, 86, 229, 1);
  --secondary-color: rgba(154, 145, 247, 1);
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 0 3rem 0;
  background-image: linear-gradient(
    180deg,
    rgba(154, 145, 247, 1) 0%,
    rgba(97, 86, 229, 1) 100%
  );
}

.nav__btns {
  display: flex;
  align-items: center;
}

.change-theme {
  font-size: 1.25rem;
  color: var(--main-color);
  margin-right: 1rem;
  cursor: pointer;
}

.change-theme:hover {
  color: var(--secondary-color);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  max-width: 768px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.header {
  width: 100%;
  position: fixed;
  /* Move to top */
  bottom: 0;
  left: 0;
  z-index: 100;
  background-color: #fff;
}

/* NAVIGATION */
.nav {
  max-width: 968px;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  color: #000;
  font-weight: 500;
}

.nav__toggle {
  color: var(--main-color);
  font-weight: 500;
}

.nav__logo:hover {
  color: var(--secondary-color);
}

.nav__toggle {
  font-size: 1.1rem;
  cursor: pointer;
}

.nav__toggle:hover {
  color: var(--secondary-color);
}

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    padding: 2rem 1.5rem 4rem;
    box-shadow: 0 -1px 4px rgb(0, 0, 0, 0.15);
    border-radius: 1.5rem 1.5rem 0 0;
    transition: 0.3s;
  }
}

.nav__list {
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.nav__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.813rem;
  color: var(--title-color);
  font-weight: 500;
}

.nav__link:hover {
  color: var(--secondary-color);
}

.nav__icon {
  font-size: 1.2rem;
}

.nav__close {
  position: absolute;
  right: 1.3rem;
  bottom: 0.5rem;
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--main-color);
}

.nav__close:hover {
  color: var(--secondary-color);
}

/* show menu */
.show-menu {
  bottom: 0;
}
/* Active link */
.active-link {
  color: var(--main-color);
}
/* Change background header */
.scroll-header {
  box-shadow: 0 01px 4px rgba(0, 0, 0, 0.15);
}

h1 {
  color: white;
  font-size: 32px;
}

p {
  color: white;
  font-size: 1rem;
  display: block;
  margin-bottom: 1rem;
}

.center {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.search input[type="text"] {
  border: 0px;
  width: 255px;
  padding: 10px;
  border-radius: 25px 0 0 25px;
}

.search input[type="text"]:focus {
  outline: 0;
}

.search input[type="submit"] {
  border: 0px;
  background: none;
  background-color: var(--main-color);
  color: #fff;
  font-weight: 500;
  float: right;
  padding: 10px;
  cursor: pointer;
  border-radius: 0 25px 25px 0;
}

.search input[type="submit"]:hover {
  background-color: var(--secondary-color);
}

/* ===== Media Query ===== */

@media only screen and (min-width: 280px) and (max-width: 374px) {
  .search input[type="text"] {
    width: 170px;
    padding: 6px;
  }

  .search input[type="submit"] {
    padding: 6px;
  }

  h1 {
    font-size: 24px;
  }

  p {
    font-size: 0.8rem;
  }

  input {
    font-size: 12px;
  }

  .nav__logo {
    font-size: 14px;
  }

  .nav__icon {
    font-size: 14px;
  }

  .change-theme {
    font-size: 1.2rem;
  }

  .nav__toggle {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 339px) {
  p {
    font-size: 0.7rem;
  }
}

@media screen and (min-width: 768px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }

  body {
    margin: 0;
  }

  .header {
    top: 0;
    bottom: initial;
  }

  .header {
    padding: 0 1rem;
  }

  .nav {
    height: calc(3rem + 1.5rem);
    gap: 2rem;
  }

  .nav__icon,
  .nav__close,
  .nav__toggle {
    display: none;
  }

  .nav__list {
    display: flex;
    gap: 2rem;
  }

  .nav__menu {
    margin-left: auto;
  }

  .change-theme {
    margin: 0;
    display: none;
  }

  .nav__logo {
    font-size: 1.5rem;
    font-weight: 600;
  }

  a.nav__link {
    font-size: 1rem;
  }

  h1 {
    font-size: 2.5rem;
  }

  p {
    font-size: 1.5rem;
  }

  .search input[type="text"] {
    width: 450px;
  }

  .search input[type="submit"] {
    font-size: 1rem;
  }

  input {
    font-size: 1rem;
  }
}
